<div class="container"  [formGroup]="signUpForm"   >
    <div class="form-box">
      <input type="email" class="form-control" name="" id=""  placeholder="Enter Your Email" formControlName="email"  >
    </div>
    <div class="form-box">
        <input type="text"  class="form-control" name="" id=""  placeholder="Enter Your Name" formControlName="name" >
      </div>
      <div class="form-box">
        <input type="password"  class="form-control" name="" id=""  placeholder="Enter Your Password" formControlName="password" >
      </div>
      <div class="form-box">
        <button class="btn btn-primary" (click)="signin(signUpForm.value)"  >Submit</button>
      </div>
</div>