<div class="main-footer">
    <div class="container">
        <div class="row">
            <div class="footer-top clearfix">
              
                <div class="col-md-6 col-sm-6">
                    <div class="form-box">
                        <input type="text" placeholder="Enter yopur e-mail" [(ngModel)]="email"  />
                        <!-- <button>Continue</button> -->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-box">
                        <input type="text" placeholder="Enter yopur name" [(ngModel)]="name" />
                        <button (click)="signin()"  >Continue</button>
                    </div>
                </div>
                
                </div>
                </div>
                </div>
                </div>
                